@tailwind base;
@tailwind components;
@tailwind utilities;



 
* {
  font-family: "Manrope", sans-serif;
}
  #herotitle2{
    font-family: 'Raleway', sans-serif;
  }
  #herotitle3{
    font-family: 'Raleway', sans-serif;
  }
  .background-image-container {
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  width: 100%;
  height: fit-content; /* Set a specific height */
  }
  #luxury1{
    font-family: 'Raleway', sans-serif;

  }
  
  #testimonytitle{
    font-family: 'Raleway', sans-serif;

  }
  #roomHero{
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    width: 100%;
    height: fit-content; /* Set a specific height */
  }
  #aboutHero{
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    width: 100%;
    height: fit-content; /* Set a specific height */
  }
  #roomhero{
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    width: 100vw;
    height: 100vh; /* Set a specific height */
  }